.form-input{
    padding: 13px;
    width: 29%;
    border: 1px solid #FFCC6C;
    font-size: medium;
    color: white;
    border-radius: 14px;
    outline: none;
    margin-left: 39%;
    margin-top: 1%;
    
}
#form{
    height: 243px;
}
#cb{
    margin-left: 42%;
    height: 3rem;
}
.cont{
    margin-bottom: 20px;
}
@media (min-width: 200px) and (max-width: 390px){
    .form-input {  
        width: 75%;
        margin-left: 21%;
        
    }
    #cb {
        margin-left: 29%;
        height: 3rem;
    
    }
}
@media (min-width: 391px) and (max-width: 575px){
.form-input {  
    width: 82%;
    margin-left: 11%;
    margin-top: 4%;
}
#cb {
    margin-left: 29%;
    height: 3rem;

}
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .form-input {  
    width: 82%;
    margin-left: 11%;
    margin-top: 4%;
}
#cb {
    margin-left: 42%;
    height: 3rem;

}
}
@media (min-width: 768px) and (max-width: 991.98px){
    .form-input {  
        width: 51%;
        margin-left: 27%;
        margin-top: 4%;
    }
    #cb {
        margin-left: 42%;
        height: 3rem;
    
    }
}